.contact {
  text-align: center;
  padding: 40px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  margin: 10px 0;
  font-size: 18px;
}

.contact ul li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.contact ul li a:hover {
  color: orange;
}

.contact ul li i {
  margin-right: 10px;
}
